
$background-color: #ffffff;
$primary-text-color: #000000;
$accent-color: #FF6B08;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mainBgColor: #ffffff;
$secondBgColor: #f7f7f7;
$mainTextColor: #000000;
$secondTextColor: #ffffff;
$errorTextColor: #ff001b;
$modalTitleTextColor: #8c8c8c;
$footerTextColor: #545454;
$accentColor: #ff6b08;
$accentColorModal: rgba(255, 107, 8, 0.5);

$overlayHeaderColor: rgba(0, 0, 0, 0.56);
$transformPagination: matrix(-1, 0, 0, 1, 0, 0);

$mainText: Roboto;

$cubicBezierMain: cubic-bezier(0.4, 0, 0.2, 1);
$transitionTime: 250ms;

