<div class="container">
  <div class="pagination pagination-hidden">
    <div class="pagination-nav button-fast mobile-hidden" data-action="left-fast-button">
      <svg class="pagination-icon icon-left">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
      <svg class="pagination-icon">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="pagination-nav" data-action="left-button">
      <svg class="pagination-icon">
        <use href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </div>

    <div class="pagination-nav mobile-hidden" data-action="first-page">1</div>
    <div class="pagination-nav mobile-hidden" data-action="left-ellipsis">...</div>
    <div class="pagination-nav pagination-page-active" data-action="page">3</div>
    <div class="pagination-nav" data-action="page">4</div>
    <div class="pagination-nav" data-action="page">5</div>
    <div class="pagination-nav" data-action="page">6</div>
    <div class="pagination-nav" data-action="page">7</div>
    <div class="pagination-nav mobile-hidden" data-action="right-ellipsis">...</div>
    <div class="pagination-nav mobile-hidden" data-action="last-page">9</div>

    <div class="pagination-nav" data-action="right-button">
      <svg class="pagination-icon">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
    <div class="pagination-nav button-fast mobile-hidden" data-action="right-fast-button">
      <svg class="pagination-icon">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
      <svg class="pagination-icon icon-right">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</div>
