<section class="switchers-section">

    <div class="container switchers">

        <div class="switch-button">
            <input class="switch-button-checkbox" id="switch-button" type="checkbox">
            <label class="switch-button-label" for="switch-button"><span class="switch-button-label-span">Today</span></label>
        </div>

        <div class="toggle" title="toggle dark mode">
            <label>
            <input class="theme-switch__toggle" type="checkbox" name="theme" />
            <span></span>
            </label>
        </div>

    </div>
   
</section>

