<li class="button-genre">
    <button type="button" class="genreBtn" data-action="genres">ALL GENRES</button>
</li>
{{#each this}}
    <li class="button-genre">
        <button type="button" class="genreBtn">{{name}}</button>
    </li>
{{/each}}