{{#each this}}
    <<div class="footer-backdrop footer-hidden">
    <button type="button" class="data-footer-modal-close-button">   
    </button>
    <div class="footer-modal">
        <ul class="team-card-list">
            <li class="team-card-list-item">
              <!-- <img src="./images/modal-team/maryna-skrypnyk-4.jpg" alt="teammate photo" class="team-card-list-img"> -->
              <h2 class="team-name">Maryna <br>Skrypnyk</h2>
              <p class="team-discription">Scrum Master</p>
              <span class="team-contact">
                <a  href="mailto:marina.skrypnyk@gmail.com">
                <svg class="mail">
                   <!-- <use href="./images/play,git,mail.svg#icon-envelope" width="32px"></use> -->
              </svg>
            </a>
            <a href="https://github.com/Maryna-Skrypnyk">
            <svg class="git-mail">
              <!-- <use href="./images/play,git,mail.svg#icon-github" width="32px"></use> -->
            </svg>
          </a>
              </span>
              
            </li>
            <li class="team-card-list-item">
              <!-- <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img"> -->
              <h2 class="team-name">Yevhenii <br>Herasumenko</h2>
              <p class="team-discription">Team Lead</p>
              <span class="team-contact">
                <a href="mailto:zhekager91@gmail.com">
                <svg class="mail">
                  <!-- <use href="./images/play,git,mail.svg#icon-envelope" width="32px">                    </use> -->
                </svg>
               </a>
               <a href="https://github.com/Zhekager">
                 <svg class="git-mail">
                   <!-- <use href="./images/play,git,mail.svg#icon-github" width="32px"></use> -->
                 </svg>
               </a>
              </span>
              
            </li>
            <li class="team-card-list-item">
              <!-- <img src="./images/modal-team/alexandra-shyshkovskaya_adaptiv_4.jpg" alt="teammate photo" class="team-card-list-img"> -->
              <h2 class="team-name">Alexandra <br>Shyshkovskaya</h2>
              <p class="team-discription">Developer</p>
              <span class="team-contact">
                <a href="mailto:alexis.shyshka@gmail.com">
                <svg class="mail">
                  <!-- <use href="./images/play,git,mail.svg#icon-envelope" width="32px">                     </use> -->
                </svg>
               </a>
               <a href="https://github.com/Alexandra-Shyshkovskaya">
                 <svg class="git-mail">
                   <!-- <use href="./images/play,git,mail.svg#icon-github" width="32px"></use> -->
                 </svg>
               </a>
              </span>
      
            </li>
            <li class="team-card-list-item">
              <!-- <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img"> -->
              <h2 class="team-name">Tetiana <br>Shostak</h2>
              <p class="team-discription">Developer</p>
              <span class="team-contact">
                <a href="mailto:tanyashostak13@gmail.com">
                <svg class="mail">
                  <!-- <use href="./images/play,git,mail.svg#icon-envelope" width="32px">                     </use> -->
                </svg>
               </a>
               <a href="https://github.com/Tetiana1386">
                 <svg class="git-mail">
                   <!-- <use href="./images/play,git,mail.svg#icon-github" width="32px"></use>                 </svg> -->
               </a>
              </span>
      
            </li>
            <li class="team-card-list-item">
              <!-- <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img"> -->
              <h2 class="team-name">Władysław <br>Reginiewicz</h2>
              <p class="team-discription">Developer</p>
              <span class="team-contact">
                <a href="mailto:wladyslaw.reginiewicz@gmail.com">
                <svg class="mail">
                  <!-- <use href="./images/play,git,mail.svg#icon-envelope" width="32px">                     </use> -->
                </svg>
               </a>
               <a href="https://github.com/Trevoule">
                 <svg class="git-mail">
                   <!-- <use href="./images/play,git,mail.svg#icon-github" width="32px"></use> -->
                 </svg>
               </a>
              </span>
      
            </li>
            <li class="team-card-list-item">
              <!-- <img src="./images/modal-team/natalia-prygunova.jpg" alt="teammate photo" class="team-card-list-img"> -->
              <h2 class="team-name">Nataliya <br>Prygunova</h2>
              <p class="team-discription">Developer</p>          
              <span class="team-contact">
                <a href="mailto:prygunova@gmail.com">
                <svg class="mail">
                  <!-- <use href="./images/play,git,mail.svg#icon-envelope" width="32px">                     </use> -->
                </svg>
               </a>
               <a href="https://github.com/pryhunova">
                 <svg class="git-mail">
                   <!-- <use href="./images/play,git,mail.svg#icon-github" width="32px"></use> -->
                 </svg>
               </a>
              </span>
      
            </li>
            <li class="team-card-list-item">
              <!-- <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img"> -->
              <h2 class="team-name">Sonya <br>Starodub</h2>
              <p class="team-discription">Developer</p>
              <span class="team-contact">
                <a href="mailto:starodyb1987@gmail.com">
                <svg class="mail">
                  <!-- <use href="./images/play,git,mail.svg#icon-envelope" width="32px">                     </use> -->
                </svg>
               </a>
               <a href="https://github.com/sonya287">
                 <svg class="git-mail">
                   <!-- <use href="./images/play,git,mail.svg#icon-github" width="32px"></use> -->
                 </svg>
               </a>
              </span>
      
            </li>
            <li class="team-card-list-item">
              <!-- <img src="./images/no_poster/636150a0ce3e00c55c947d42fc36789f.jpg" alt="teammate photo" class="team-card-list-img"> -->
              <h2 class="team-name">Yana <br>Filippova</h2>
              <p class="team-discription">Developer</p>
              <span class="team-contact">
                <a href="mailto:yanasukhomlinova1986@gmail.com">
                <svg class="mail">
                  <!-- <use href="./images/play,git,mail.svg#icon-envelope" width="32px"></use> -->
                </svg>
               </a>
               <a href="https://github.com/Yana-Filippova">
                 <svg class="git-mail">
                   <!-- <use href="./images/play,git,mail.svg#icon-github" width="32px"></use> -->
                 </svg>
               </a>
              </span>
      
            </li>
          </ul>

    </div>
  </div>
{{/each}}